body,
html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#root {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    margin: 1rem;
    padding: 0.5rem 2rem;
}

button:hover {
    cursor: pointer;
}

.row {
    display: flex;
}

.cel {
    border: 1px solid black;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border-r {
    border-right: 3px solid black;
}

.border-b {
    border-bottom: 3px solid black;
}

.board {
    border: 3px solid black;
}

.gray {
    background: rgb(184, 184, 184);
}
